# Project exclude paths
/project/project/target/
/project/target/
/target/

*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

null/*
project/target/*

.bsp/*
.idea/*
target/*